body{
    background-color: #181f1c;
}

.card{
    border: #181f1c;
    min-height: 700px;
}

.card-header{
    background-color: #60712f;
}

.card-body{
    background-color: #274029;
}

.grid-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: firebrick;
}

.grid-container div{
    background-color: #9EA93F;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.X-styling{
    color: firebrick;
    font-family: 'Bowlby One SC', cursive;
    font-size: 60px;
    text-align: center;
}

.O-styling{
    color: whitesmoke;
    font-family: 'Bowlby One SC', cursive;
    font-size: 60px;
    text-align: center;
}

#result{
    margin-top: 40px;
    color: rgb(1, 5, 0);
    font-size: larger;
    text-align: center;
}

button{
    position: fixed;
    margin-top: 60px;
}