body{
    background-color: #181f1c;
}

.card{
    border: #181f1c;
}

.card-header{
    background-color: #60712f;
}

.card-body{
    background-color: #274029;
}
/* , .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9 */
.grid-container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    border: firebrick;
}

.grid-container div{
    background-color: #9EA93F;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}